@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

body {
  font-family: 'Droid Sans', serif;
  background-color: #f5f5f5;
}

p{
  display: inline;
}

.row {
  margin-right: auto;
}

.navbar-brand {
  color: #9ca3a8;
  font-size: 16px;
}

a:link {
  color: #9ca3a8;
}

a:hover, a:focus {
  color: #fff;
}

.navbar {
  margin: 0;
  border-radius: 0;
  background-color: #3a4953;
  border: 0px;
}

.nav > li > a:visited  {
  background-color: #222f38;
  color: #9ca3a8;
}

.nav > li > a:hover {
  background-color: #222f38;
  color: #ffffff;
}

.icon-bar {
  height: 100vh;
  width: 70px;
  text-align: center;
  background-color: #ededed;
}

.icon-bar a {
  padding: 16px;
  display: block;
  transition: all 0.3s ease;
  font-size: 24px;
}

#bar-item {
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}

.icon-bar a:hover {
  background-color: #f5f5f5;
}

.active {
  background-color: #f3f3f3;
}

.navbar-form > #search-bar {
  width: 430px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#home {
  color: #433e90;
}

#sale {
  color: #7bc043;
}

#history {
  color: #f37736
}

#report {
  color: #0392cf;
}

#products {
  color: #ee4035;
}

.fill{
  height: 94.5vh;
  text-align: center;
  background-color: #ededed;
}


#menu-items #btnCol {
  padding-right: 0;
  padding-bottom: 10px;
}
